{% extends "DRPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

    {% block body %}
        <div class="container">
            <ol>
                <li>first_item</li>
            </ol>
        </div>
    {% endblock %}